@import url(https://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

html {
    font-family: "Bitter", italic, "Fira Code", SansSerif,Verdana, sans-serif;
}

/* estilo para el menú de navegacion */

nav {
    position: relative;
    height: 14vh;
    z-index: 40;
    width: 100%;
    background-color: rgba(86, 190, 138, 0.9);
    border-radius: 0 0 35px 35px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav>ul>li  {
    display: inline-block;
    color: #ffefd5;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    width: 48vh;
    border-radius: 0 0 35px 35px;

}

nav>ul>li:hover {
    background-color: #dc001B;
}

nav>ul>li>ul>li:hover {
    background-color: #dc001B;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3em;
}


.separadas:hover {
    letter-spacing: .8em;
}

/* menu desplegable*/

nav>ul>li>ul {
    position: absolute;
    top: 40px;
    display: none;
    background-color: #00aeff;
    border-radius: 0 0 35px 35px;
    margin-left: 19px;
}

nav>ul>li>ul>li>ul {
    position: absolute;
    display: none;
    background-color: #af8a9c;
    top: 0;
    left: 100%;
    border-radius: 0 35px 35px 0;


}

nav>ul>li:hover>ul {
    display: block;
}

nav>ul>li>ul>li {
    display: block;
    text-align: center;
    width: 39vh;
    padding: 5px;
    
}

nav>ul>li>ul>li>ul>li {
    display: block;
    text-align: left;
    width: 36vh;
    padding: 5px;

}

nav>ul>li>ul>li:hover>ul {
    display: block;
    
}
nav>ul>li>ul>li>ul>li:hover{
    background-color: #dc001B;
    
}

/* Fin estilo para el menú de navegacion */




/* Cuerpo y tapas*/
.fondo {
    background: url("../img/backbn.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#tapa {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    background-color: rgba(15, 14, 14, 0.9);
}

#tapa>div>img, #tapa2>div>img {
    width: 360px;
    height: 490px;
}

#tapa2 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: 50%;
    z-index: 10;
    width: 50%;
    height: 100%;
    background: rgba(239, 6, 6, 0.65);
}

#objetos{
    position: absolute;
    top: 12%;
    z-index: 10;
    width: 500px;
    height: 100%;
    text-align: center;
}

#objetos2 {
    position: absolute;
    top: 21vh;
    left: 16vh;
    z-index: 10;
    width: 50%;
    height: 100%;
    text-align: center;

}

#objetos p,#objetos2 p {
    color: hsla(0, 94%, 51%,1);
    font-size: 5.40vh;
    text-align: right; 
    margin-left: 10px;  
    font-family: 'Akronim', cursive;
}

#objetos2 p {
    color: rgba(15, 14, 14, 0.9);
    margin: 0;

}


.gif {
    position: absolute;
    top: calc(75%);
    bottom: 0;
    right: 0;
    z-index: 15;
}

.gif img {
    width: 115px;
    height: 142px;
}

/* FIN: Cuerpo y tapas*/

/* Contenedor 3 bloques*/
#about {
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
}

#about p, iframe{
    display: none;
}

#fig1:hover iframe {
    display: block;

}



#fig1:hover, #fig2:hover, #fig3:hover {
    background-color: rgba(80, 80, 80, 0.5);
}
#fig1:hover p,#fig2:hover p, #fig3:hover p {
    display: block;
}

#fig1:hover img, #fig2:hover img, #fig3:hover img {
    position: relative;
    top: 0;
}


#about img {
    width: 95%;
    position: absolute;
    top: 25%;
}

#fig1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 33.3%;
    height: 100%;
    background-color: rgba(255, 240, 250, 0.2);
    border: 1px solid white;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;

}


#fig2 {
    position: absolute;
    left: 33.3%;
    top: 0;
    width: 33.3%;
    height: 100%;
    background-color: rgba(255, 240, 250, 0.2);
    border: 1px solid white;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;

}



#fig3 {
    position: absolute;
    left: 66.6%;
    top: 0;
    width: 33.3%;
    height: 100%;
    background-color: rgba(255, 240, 250, 0.2);
    border: 1px solid white;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;

}

#fig1>img, #fig2>img, #fig3>img {
    width: 95%;
    height: 290px;
}



/* pie web: CONTACTO */

#contacto {
    z-index: 10;
    position: absolute;
    top: 245%;
    left: 0;
    width: 100%;
    height: 59%;
    background-color: #555555;
}
#contacto>img {
    margin-left: 50%;
    width: 79vh;
    height: 55vh;
    padding-top: 2vh;
}

#iconos {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 25%;
    bottom: 0;
    width: auto;
}

#iconos img{
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    height: 32px;
}



/* Mediaquerys, ajustadas a un movil de 6,1" aprox.*/

/* no funciona aun ...
    @media all and (max-width:1000px) {
    #fig1, #fig2, #fig3 {
        position: relative;
        width: auto;
        overflow: auto;
        background-color: transparent;
    }
}

*/

