/* estilo general*/
* {
    font-family: 'Gemunu Libre', sans-serif;;
}
h1,h2 {
    text-align: center;
    color: #dc001B;
}
 html {
     background-image: url(../img/orientaltiles.png);
 }

/* estilo para el menú de navegacion */
div .out {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #516260;
    height: 100%;
    position: fixed;
    overflow: auto;
    opacity: .9;
    border-radius: 4px;
}

li {
    padding: 15px;
}

li a {
    display: block;
    color: #dc001B;
    padding: 8px 0 8px 16px;
    text-decoration: none;

}
li a:hover {
    background-color: black;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.in:hover {
    list-style-type: none;
}
/* Fin estilo para el menú de navegacion */






