/* estilo general*/
* {
    font-family: 'Gemunu Libre', sans-serif;;
}
h1,h2 {
    text-align: center;
    color: #dc001B;
}
 body {
     background-image: url(../img/pexels1906794.jpg);
     background-size: 100%;
     background-repeat: repeat-x;
     background-color: rgb(3, 41, 56);
 }

/* estilo para el menú de navegacion */

#barra_nav {
    margin: 0;
    padding: 0;
    background-color: #516260;
    position: static;
    overflow: auto;
    opacity: .70;
    border-radius: 25px;
    text-align: center;
}
table {
    margin-left: 25%;
    margin: auto;
}

.nav li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 9px;
}

li a {
    display: block;
    color: #dc001B;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(3, 41, 56);
    font-style: italic;
    text-transform: uppercase;
}



/* Fin estilo para el menú de navegacion */

main {
    margin-left: 5%;
    padding: 0px;
    width: 85%;
    height: 100%;
    position: relative;
    overflow: auto;
}

#aboutme {
    background-color: grey;
    opacity: 0.85;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 15px;
}


